# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sh

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# ImageManger Fils
application.log
dedup_dry_run_log.csv
sort_dry_run_log.csv
config.yaml
